{% extends 'base.html' %}
{% block title %}
    Новые товары {{ block.super }}
{% endblock %}
{% block content %}
    <h3>Наши новинки</h3>
    <div class="container-fluid">
        {% if products %}
            {% include 'products/items_grid.html' with items=products per_row=4 %}
        {% else %}
            <div class="row">
                <p>Сейчас у нас нету новых товаров.</p>

                <p>Загляните позднее, и они обязательно появятся.</p>
            </div>
        {% endif %}
        <div class="row">
            {% include 'products/pagination.html' with items=products range=range %}
        </div>
    </div>
{% endblock %}

