{% if items.has_previous or items.has_next %}
    <nav>
        <ul class="pagination">
            {% if not items.has_previous %}
                <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
            {% else %}
                <li><a href="?page={{ items.previous_page_number }}"><span aria-hidden="true">&laquo;</span></a></li>
            {% endif %}

            {% for i in range %}
                {% if i == items.number %}
                    <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}


            {% if not items.has_next %}
                <li class="disabled"><span aria-hidden="true">&raquo;</span></li>
            {% else %}
                <li><a href="?page={{ items.next_page_number }}"><span aria-hidden="true">&raquo;</span></a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}